.projectsH3 {
  font-size: var(--font-size-3);
  margin-bottom: var(--space-4);
}

.projectImageContainer {
  background-color: var(--color-primary);
  padding: var(--space-2) var(--space-4);
  max-width: 97%;
}

.projectImg {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
}

@media (--bp-up-sm) {
  li:nth-child(odd) .projectImageContainer {
    padding: var(--space-2) var(--space-5) var(--space-2) var(--space-1);
  }

  li:nth-child(even) .projectImageContainer {
    padding: var(--space-2) var(--space-1) var(--space-2) var(--space-5);
  }
}
