.projectImageContainer {
  background-color: var(--color-primary);
  padding: var(--space-2);
  width: fit-content;
}

.projectImg {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 80%;
}
