.aboutMeText {
  text-align: left;
  text-indent: 2rem;
  width: 95%;
}

.learnMoreContainer {
  width: 95%;
}

.learnMoreh3 {
  align-self: flex-start;
}

.actionsContainer {
  margin-left: 1rem;
}

.webdevList {
  align-self: stretch;
}

.resumeButtonLabel {
  font-family: var(--font-family-body);
  font-size: var(--text-caption);
}

.aboutWorkCall {
  width: 100%;
}

.resumeBtn {
  transition: transform 0.3s ease-in-out;
}

.resumeBtn:hover {
  transform: scale(1.05);
}

@media (--bp-up-xs) {
  .resumeButtonLabel {
    font-size: var(--text-body );
  }
}

@media (--bp-up-md) {
  .aboutMeText {
    width: 70%;
  }
}

@media (--bp-up-lg) {
  .aboutMeText {
    width: 60%;
  }
}
