.aboutMeText {
  text-align: left;
  text-indent: 2rem;
  width: 95%;
}

.learnMoreContainer {
  width: 95%;
}

.learnMoreh3 {
  align-self: flex-start;
}

.actionsContainer {
  margin-left: 1rem;
}

.webdevList {
  align-self: stretch;
}

.resumeButtonLabel {
  font-family: var(--font-family-body);
}

.aboutWorkCall {
  width: 100%;
}

@media (--bp-up-md) {
  .aboutMeText {
    width: 80%;
  }
}

@media (--bp-up-lg) {
  .aboutMeText {
    width: 65%;
  }
}
